<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ROCKY.IMAGEBrowser"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon1" android:label="@string/app_name">
        <activity android:name="com.ROCKY_IMAGEBrowser.StartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ROCKY_IMAGEBrowser.MainActivity"
                  android:theme="@android:style/Theme.Holo"/>
        <activity android:name="com.ROCKY_IMAGEBrowser.BigActivity"
                  android:theme="@android:style/Theme.Holo"/>
        <activity android:name="com.ROCKY_IMAGEBrowser.ChangeBigActivity"
                  android:theme="@android:style/Theme.Holo"/>

    </application>
</manifest>